/*
   PCC CIS 193
    Assignment 1

    Calendar Page
    Author: Arvind Puri
    Date: 9/8/2020

    Filename: calendar.html

   This file contains the base styles used by the Calendar Page

*/
div, body {
    font-family: Helvetica;
}
.week {
    background-color:#eaeaea;
    height:75px;
    margin:0;
    text-align:left;
    vertical-align:top;"
}
table {
    table-layout:fixed;width:70%;
}
.month-header {
    background-image:url(https://i.postimg.cc/1Xw67Pj5/Dog-Picture.jpg);background-position:center center;background-repeat:no-repeat;background-size:cover;height:300px;text-align:right;
}
.copyright-notice {
    color:#FFF;font-size:50%;padding-right:50px;text-align:right;text-decoration:none;vertical-align:bottom;
}
h1 {
    color:#FFF;font-size:200%;font-weight:700;letter-spacing:3px;padding-right:50px;padding-bottom:150px;text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;vertical-align:top;
}
ul {
   font-size:75%;list-style:none;padding-left:20px;padding-right:5px;
}
.weekday-header {
    background-color:#999;border-color:#ddd;border-style:solid;letter-spacing:1px;line-height:25px;
}
.off-day {
    background-color:#ddd;
}
.event-school {
    border-radius:5px;color:#10171C;padding:5px;margin:5px 0;background-color:#BA9CE8;
}

.event-dog-walk {
    border-radius:5px;color:#10171C;padding:5px;margin:5px 0;background-color:#A6F4FF;
}
.event-holiday {
    border-radius:5px;color:#10171C;padding:5px;margin:5px 0;background-color:#E8E193;
}
.event-appointment {
    border-radius:5px;color:#10171C;padding:5px;margin:5px 0;background-color:#FF7E6D;
}
.event-birthday {
    border-radius:5px;color:#10171C;padding:5px;margin:5px 0;background-color:#AFFFAD;
}